:root{
    --nav_bar_bg_color: rgb(153, 152, 152);
    --nav_bar_text_color: white;

}

body{ 
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
}
/* For Navigation bar */
#nav_bar{
    display: flex;
    background-color: var(--nav_bar_bg_color);
    position: sticky;
    padding: 5px;

}

/* For the left side of the navigation bar */
#main_div{
    padding-top: 10px;
}
#main_div a{
    padding: 5px;
    /* padding-top: 10px; */
    margin:15px 20px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 30px;
    color: var(--nav_bar_text_color);
}

#main_div a:hover{
    color: black;
    background-color: white;
}

/* For logo of the website */
#logo img{
    height: 40px;
}


/* For main section */
#section_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    height: 650px;
}

#section_1::before{
    content: '';
    position: absolute;
    background: url('/All IMG/nav_bar_bg.jpg') no-repeat center center/cover; 
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    /* height: 60%; */
}

#section_1 h1{
    color: white ;
    font-size: 60px;
}

#section_1 p{
    color: white;
}
.buttons{
    font-size: 25px;
    padding: 10px;
    background-color: rgb(212, 135, 135);
    border-radius: 20px;
}

.buttons:hover{
    background-color: rgb(248, 130, 130);
    cursor: pointer;
    color: white;
}

html{
    scroll-behavior: smooth;
}

#services h1{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

#services #main_container{
    display: flex;
    justify-content: space-evenly;
    /* border: 4px solid red; */
}

#services .box{
    width: 500px;
    border: 4px solid black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    background-color: rgb(255, 198, 198);
}
#services img{
    width: 250px;
}


/* Sponsers name zone */

#sponsers-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

#sponsers-name .logo img{
    height: 250px;
    width: 300px;
}

/* For Contact Section */
#contact-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-section::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url('/All IMG/bg_1.jpg');

}

#main_container{
    border-radius: 40px;
}

#contact-section #main_container form{
    /* font-size: 30px; */
    width: 100%;
    height: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

#contact-section #main_container form div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

#contact-section #main_container form div label,input{
    width: 400px;
    font-size: 25px;
}

#contact-section #main_container{
    background-color: rgb(245, 88, 88);
    width: 600px;
}



footer{
    text-align: center;
    background: black;
    color: white;
    padding: 9px 20px;
}